.wrapper {
  position: absolute;
  top: 56px;
  left: 50%;
  padding: 0 52px;
  width: 600px;
  min-height: 450px;
  background: white;
  border-radius: 20px;
  text-align: center;
  transform: translate(-50%);
}

.title {
  text-align: center;
}

.line {
  width: 100%;
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.todos {
  padding: 0;
}

.todo {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 55px;
  margin: 20px 0 30px;
  border-radius: 5px;
  background-color: #DBE2EF;
  list-style: none;
}

.delete {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  transform: translateY(-50%);
}

.images {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  border-radius: 100%;
}

.failed {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 55px;
  margin: 20px 0 30px;
  border-radius: 5px;
  list-style: none;
  background-color: tomato;
}

.checked {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 55px;
  margin: 20px 0 30px;
  border-radius: 5px;
  list-style: none;
  background-color: greenyellow;
}